.idea
__pycache__

lab_1/code/.idea
lab_1/code/__pycache__

lab_2/code/.idea
lab_2/code/__pycache__

lab_3/code/.idea
lab_3/code/__pycache__

lab_4/code/.idea
lab_4/code/cmake-build-debug

lab_5/code/.idea
lab_5/code/__pycache__
lab_5/code/build*

lab_6/code/.idea
lab_6/code/__pycache__

lab_7/code/.idea
lab_7/code/__pycache__

rk_1/code/.idea
rk_1/code/__pycache__
rk_1/code/metro_graph.gv
rk_1/code/metro_graph.gv.png

rk_2/code/.idea
rk_2/code/.__pycache__
