.idea
__pycache__

lab1/.idea
lab1/__pycache__

lab2/.idea
lab2/__pycache__

lab3/.idea
lab3/__pycache__

lab4/.idea
lab4/__pycache__

lab5/.idea
lab5/__pycache__
S
lab6/.idea
lab6/__pycache__

lab7/.idea
lab7/__pycache__

lab8/.idea
lab8/__pycache__

rk1/.idea
rk1/__pycache__
rk1/metro_graph.gv
rk1/metro_graph.gv.png
